<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.0.5" targetFramework="net471" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net471" />
  <package id="Keras.NET" version="3.8.5" targetFramework="net471" />
  <package id="MethodBoundaryAspect.Fody" version="2.0.138" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net471" />
  <package id="Numpy.Bare" version="3.8.1.25" targetFramework="net471" />
  <package id="NumSharp.Lite" version="0.1.9" targetFramework="net471" />
  <package id="Protobuf.Text" version="0.4.0" targetFramework="net471" />
  <package id="pythonnet_netstandard_py38_win" version="2.5.1" targetFramework="net471" />
  <package id="SciSharp.TensorFlow.Redist" version="2.3.1" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="TensorFlow.Keras" version="0.1.0" targetFramework="net471" />
  <package id="TensorFlow.NET" version="0.30.0" targetFramework="net471" />
</packages>